<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-avatar>
    <!--
      A '?' é um operador de navegação segura do angular
      (se a variável ainda não tiver valor, não vai dar erro na página)
      quando o controlador definir um valor para ela, o angular irá fazer a renderização dela.
    -->
    <img class='circle' [src]="cliente?.imageUrl ||'assets/imgs/avatar-blank.png'">
  </ion-avatar>
  <h2 text-center>{{cliente?.nome}}</h2>
  <p text-center>{{cliente?.email}}</p>

  <ion-card>
    <ion-item *ngIf='foto'>
      <img [src]='foto'>
    </ion-item>
    <button ion-button round block icon-end (click)='tirarFoto()' [disabled]='cameraOn'>
        Alterar foto de perfil
      <ion-icon name='ios-camera'></ion-icon>
    </button>

    <button ion-button round block outline icon-end (click)='enviarFoto()' *ngIf='foto'>
        Enviar foto
      <ion-icon name='ios-send'></ion-icon>
    </button>

    <button ion-button round block outline icon-end danger (click)='cancelarFoto()' *ngIf='foto'>
        Descartar foto
      <ion-icon name='ios-close'></ion-icon>
    </button>
  </ion-card>

</ion-content>
