<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Categorias</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor='let item of categorias' (click)='showProdutos(item.id)'><!--*ngFor diretiva[percorre a lista de categorias]-->
      <ion-thumbnail item-start>
        <img src='{{bucketURL}}/cat{{item.id}}.jpg'>
      </ion-thumbnail>
      <h2>{{item.nome}}</h2><!--interpolação html com os dados recebidos do controlador-->
    </button>
  </ion-list>
</ion-content>
